<div id="products" class="wrapper clearfix">
	<div class="span4 risk">
		<h2><a href="{site-url}/industries-served/risk-collections">Risk &amp; Collections</a></h2>
		<p>Our risk and collections products regularly outperform competitors with a wide selection of POE, incarceration, bank, and social network solutions. </p>
		<a href="{site-url}/industries-served/risk-collections">Learn More</a>
	</div>
	<div class="span4 b2b">
		<h2><a href="{site-url}/industries-served/b2b-marketing">B2B Marketing</a></h2>
		<p>Extensive file of domain name registrations, most up-to-date business contacts databases, with enough audience segments for precise targeted campaigns.</p>
		<a href="{site-url}/industries-served/b2b-marketing">Learn More</a>
	</div>
	<div class="span4 loss">
		<h2><a href="{site-url}/industries-served/loss-prevention">Loss Prevention</a></h2>
		<p>A retail loss prevention product that automates the tedious process of identifying when stolen goods are offered for sale online, sending you alerts for quick action. </p>
		<a href="{site-url}/industries-served/loss-prevention">COMING SOON!</a>
	</div>
</div>