	{embed="main/head"}
	<body class="layout-home">
		{embed="main/header"}
		<div id="hero" class="tc lax">
			<div class="span9 center">
				<h1>ACCELERATE YOUR ROI<br>WITH OUR INSIGHT.</h1>
			</div>
		</div>
		{embed="modules/3-products"}
		<div class="lax windows">
			<div class="wrapper clearfix tc">
				<div class="span12">
					<h2 class="caps">Are you a Wise <span class="blue">Data Buyer?</span></h2>
					<p>Learn how to buy data wisely in this compact, informative guide.</p>
					<a class="btn green knockout center" href="{site-url}/wise-data-buyer">Get the Guide</a>
				</div>
			</div>
		</div>
		<div class="wrapper clearfix pad50">
			<div class="span8">
				<h3 class="blue caps">Raise Your ROI with Our High-Performance Data Solutions</h3>
				<p>We eat, sleep and breathe data. NetWise Data specializes in identifying fresh sources of data that can be put to work to solve business problems. Day after day, our data products help companies raise ROI, earn money and expand into lucrative new markets. Our secure, compliant data consistently delivers the kind of performance that puts smiles on our customers’ faces—and on ours, too, because their success is our success.</p>
			</div>
			<div class="span4">
				<img src="{site-url}/images/home-inline-1.jpg" alt="">
			</div>	
		</div>
		<div class="lax bluetech">
			<div class="wrapper clearfix tc">
				<div class="span12">
					<h2 class="caps">Contact Us</h2>
					<p>to discuss how we can contribute to your greater success!</p>
					<a class="btn white knockout center" href="{site-url}/contact">Get Started</a>
				</div>
			</div>
		</div>
		{embed="Main/footer"}
		{embed="Main/scripts"}
	</body>
</html>