	{embed="main/head"}
	<body class="layout-inner">
		{embed="main/header"}
		{exp:channel:entries channel="pages" dynamic="yes" limit="1" paginate="bottom" orderby="entry_date" sort="desc"}
			<div id="page-header" class="wrapper clearfix">
				<div class="span6">
					<h1>{title}</h1>
				</div>
				<div class="span6 tr">
					<div class="breadcrumb">
						{exp:structure:breadcrumb here_as_title="yes" separator=" / "}
					</div>
				</div>
			</div>
			{if segment_1 =="products" AND segment_2 == ""}
				{embed="modules/3-products"}
			{if:else}
				<div class="wrapper clearfix">
					<div class="span8">
						{if page-subhead}<h2 class="blue">{page-subhead}</h2>{/if}
						{if segment_2 == ""}
							<div class="greybox"></div>
						{/if}
						<div class="body-content pad30">
							{exp:email:contact_form user_recipients="no" recipients="admin@example.com" charset="utf-8"}
						        <h2>Support Form</h2>
						        <p>
					                <label for="from">Your Email:</label><br />
					                <input type="text" id="from" name="from" size="40" maxlength="35" value="{member_email}" />
					        	</p>
						        <p>
					                <label for="subject">Subject:</label><br />
					                <input type="text" id="subject" name="subject" size="40" value="Contact Form" />
						        </p>
						        <p>
					                <label for="message">Message:</label><br />
					                <textarea id="message" name="message" rows="18" cols="40">
					                        Support Email from: {member_name}
					                        Sent at:  {current_time format="%Y %m %d"}
					                </textarea>
						        </p>
						        <p>
						            <input name="submit" type='submit' value='Submit Form' />
						        </p>
							{/exp:email:contact_form}
						</div>
					</div>
					<div class="span3 right sidebar">
						{embed="modules/sidebar"}
					</div>
				</div>
			{/if}
			{embed="Main/footer"}
			{embed="Main/scripts"}
		{/exp:channel:entries}
	</body>
</html>