<footer id="foot">
	<div class="wrapper clearfix pad50">
		<div class="span3">
			<a href="{site-url}"><img src="{site-url}/images/netwise-logo-footer.png" alt="NetWise Data">
		</div>
		<div class="span3">
			<h4 class="caps">Industries Served</h4>
			<ul>
				<li><a href="{site-url}/industries-served/risk-collections">Risk &amp; Collections</a></li>
				<li><a href="{site-url}/industries-served/b2b-marketing">B2B Marketing</a></li>
				<li><a href="{site-url}/industries-served/loss-prevention">Loss Prevention</a></li>
			</ul>
		</div>
		<div class="span3">
			<h4 class="caps">Links</h4>
			<ul>
				<li><a href="{site-url}/security">Security</a></li>
				<li><a href="{site-url}/about">About</a></li>
				<li><a href="{site-url}/contact">Contact</a></li>
			</ul>
		</div>
		<div class="span3">
			<h4 class="caps">Contact Us</h4>
			<p>
				350 Camino Gardens Blvd.<br> Suite 202<br>
				Boca Raton, FL 33432 <br>
				Phone: (561) 409-0570 <br>
				Email: <a href="mailto:info@netwisedata.com?Subject=NetWise Data Info">info@netwisedata.com</a>
				<a href="{site-url}/contact">View Map</a>
			</p>
		</div>
	</div>
</footer>
<footer id="footer">
	<div class="wrapper clearfix">
		<div class="span8">
			<p>&copy; 2015 NetWise Data. All Rights Reserved.  | <a href="{site-url}/uploads/NetwiseDataPrivacyPolicy.pdf" target="_blank">Privacy Policy</a></p>
		</div>
		<div class="span4 right">
			<a href="https://www.linkedin.com/company/netwise-data" class="right" target="_blank"><img src="{site-url}/images/icon-linkedin.png" border="0"></a>
		</div>
	</div>
	<div class="wrapper clearfix">
		
	</div>
</footer>